<nav class="relative flex flex-wrap items-center content-between py-3 px-4  top-0">
    <div class="container mx-auto sm:px-4">
        <div class="flex flex-wrap list-reset pl-0 mb-0">
            <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" style="font-family: 'Hind Madurai', sans-serif;">P. Mutisya</a>
        </div>

        <ul class="flex flex-wrap list-none pl-0 mb-0 flex flex-wrap list-reset pl-0 mb-0 ml-auto">
            <!-- <li class="">
                <a class="inline-block py-2 px-4 no-underline" href="#">Projects</a>
            </li> -->

            <!-- <li class="">
                <a class="inline-block py-2 px-4 no-underline" href="#">Profile</a>
            </li> -->
        </ul>
    </div>
</nav>
