<main class="max-w-7xl mx-auto">
    <div class="flex items-center mt-6">
      <img src="../assets/petro.jpg" alt="Peter Mutisya" class="object-cover w-36 rounded-lg shadow-xl">
      <div class="px-5">
        <h1 class="text-3xl font-bold text-gray-900 ">Peter Mutisya
        </h1>
        <div class="flex items-center mx-auto">
          <h2 class="text-blue-800 font-semibold text-2xl py-1">Software Engineer</h2>
          <h2 class="text-blue-800 font-semibold text-2xl py-1">Natujenge contibutor</h2>
          <h2 class="text-blue-800 font-semibold text-2xl py-1">Open-source contibutor</h2>
        </div>
      </div>
    </div>
    <div class="max-w-7xl mx-auto grid grid-cols-3 gap-4">
  
  
      <div class="">
        <img src="../assets/petro.jpg" alt="Peter Mutisya" class="absolutef h-20 mt-6 rounded-lg shadow-xl">
        <p class="">Tailwind UI is a collection of professionally designed, pre-built, fully responsive HTML snippets you
          can drop into your Tailwind projects. Get started by checking out our free preview components, or browsing the
          PNG previews in the categories you're most curious about.</p>
      </div>
  
      <div>
        <img src="../assets/petro.jpg" alt="Peter Mutisya" class="absolutef w-20 mt-6 rounded-lg shadow-xl">
        <p class="">Tailwind UI is a collection of professionally designed, pre-built, fully responsive HTML snippets you
          can drop into your Tailwind projects. Get started by checking out our free preview components, or browsing the
          PNG previews in the categories you're most curious about.</p>
      </div>
    </div>
  
  
    <div class="grid grid-cols-12 gap-4">
      <div>01</div>
      <div>02</div>
      <div>03</div>
      <div>04</div>
      <div>05</div>
      <div>06</div>
      <div>07</div>
      <div>08</div>
  
      <!-- ... -->
      <div>09</div>
    </div>
  
  </main>